header {
    position: relative;
    width: 100%;
    height: 60px;
    background-color: #cbddff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    margin: 0 0 20px;
    padding: 0;
    border: 0;
}


#logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
    height: 50px;
}

nav {
    text-align: right;
    margin-right: 5%;
    margin-left: 0;
    width: 20%;


}

nav > ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  height: 100%;
  gap: 20px;
  list-style: none; 
}



header a{
    color: #122357;
    font-family: 'Sans';
    text-decoration: none;
    font-size: 1.2em;
    
}

header a:hover {
    color: #0e1b40;
    cursor: pointer;
}

#home {

    display: flex;
    align-items: center;
    text-align: left;
    margin-left: 5%;
    margin-right: 0;
    height: 100%;
}

.title {
    width: 100%;
    text-align: center;
    display: block; 
    font-family: sans-serif;
    
}





h2{
    margin-top: 30px;
    color: #1f3b9d;
}

h3{
    color: #1d368d;
}

.center-text{
    font-size: 1.3em;
    color: #0d1c52;
    text-align: center;
    margin: 0 350px 10px;

}



body{
    background-color: #f0f5fe;
}

html, body,main {
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;         
    flex-direction: column;  
}

.tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
.tab {
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
}
.tab.active {
    border-bottom: 2px solid blue;
    font-weight: bold;
}

.job-card{
    
    border-radius: 9px;
    background-color: white;
    width: 200px;
    height: 120px;
    padding: 5px;
    border: 0px;
    margin: 24px;
    display: inline-flex;
    align-items: center;
    text-align:center;
    justify-content: center;
    color: black;
    flex-direction: column;
    box-shadow: 0 0 18px rgba(0,0,0,0.12);
}
.job-card:hover{
    background-color: #fafafa;
}
.job-card h4, .job-card p{
    margin: 5px 0
}
.job-card h4{
    font-size: 25px;
    
}
.job-card p{
    font-size: 18px;
}
.job-card a {
    text-decoration: none;
    color: black;
}

.pic {
    height: 320px;

    display: block;    
    margin: 0 auto ;
}

.row {
    display: flex;
    justify-content: center; 
    align-items: flex-start;
    flex-wrap: wrap;         
    gap: 40px;               
}

.step, .member {
    text-align: center;      
    width: 400px;            
}

footer {
    padding: 20px 0;
    background-color:#cbddff;
    color: #1a2e79;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-bottom: 0;
}

footer p {
    margin: 0;

}
main.flex-grow {
    flex: 1; 
}

.list {
    list-style: none;      
    padding: 0;           
    margin: 0 auto 5px;        
    text-align: center;    
    font-size: 1.1em;
    color: #410054;
    text-decoration: none;
}

.level {
    width: 200px;
    text-align: center;
    font-size: 1.1em;
}
.age{
    width: 250px;
}

.age li {
    list-style: none;
    color: #410054;
}
.winners{
    font-size: 1.1em;
    color: #410054;
}


.scoreboard-container {
    max-width: 720px;
    margin: auto;
    padding: 20px;
}

.scoreboard-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    background: white;
    border-radius: 12px;
    overflow: hidden;
}

.scoreboard-table th {
    text-align: left;
    padding: 14px;
    font-size: 1rem;
    background: #ff64b8; 
    color: white;
}

.scoreboard-table td {
    padding: 14px;
    font-size: 0.95rem;
    border-bottom: 1px solid #eee;
}

.scoreboard-table tr:nth-child(even) {
    background: #fafafa;
}

.scoreboard-table tr:hover {
    background: #ffe3f3;
}

.loading {
    text-align: center;
    color: #777;
    font-size: 1.1rem;
    margin-top: 30px;
}

.scoreboard-table tr:first-child td {
    font-weight: 800;
}

.user-tag {
    padding: 6px 10px;
    border-radius: 8px;
    background: #eee;
    font-weight: bold;
}
