<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'styles.css')}}">
        <meta charset = "utf-8">
        <link  rel="icon" href="https://voca-land.sgp1.cdn.digitaloceanspaces.com/43844/1649321779610/5d74cafd623b9289baa0332456cfdd85f7cdfe24763dfc2b2aa3d54097ace92f.jpg">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GetEmployed</title>
    </head>
    <body>
        <header>
            <a id="home" href="{{ url_for('home') }}">Home</a>
        
            <a href="{{ url_for('home') }}">
                <img id="logo" alt="GetEmployed Logo" src="https://voca-land.sgp1.cdn.digitaloceanspaces.com/43844/1649321779610/5d74cafd623b9289baa0332456cfdd85f7cdfe24763dfc2b2aa3d54097ace92f.jpg">
            </a>
        
            <nav>
                <ul>
                    <li><a href="{{ url_for('jobGuide') }}">Job Guide</a></li>
                    <li><a href="{{ url_for('donate') }}">Donate</a></li>
        
                    {% if session.get("user_name") %}
                        <li class="user-tag">👤 {{ session["user_name"] }}</li>
                        <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% else %}
                        <li><a href="{{ url_for('signIn') }}">Sign In</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>       
        